<h1><center>Analise - Alturas</center></h1>

### Importações

In [40]:
import pandas as pd

### Leitura de arquivos

In [41]:
alturas_A = pd.read_excel("alturas.xlsx")
alturas_B = pd.read_excel("alturasB.xlsx")
alturas_C = pd.read_excel("alturasC.xlsx")

display(alturas_A.head(2))
display(alturas_B.tail(2))
display(alturas_C.tail(2))

      Nome  Altura
0  Cleiton     166
1  Vanessa     160

        Nome  Altura
38  Patrícia     158
39     Lucas     150

        Nome  Altura
38  Patrícia     160
39     Lucas     190

### Média

In [42]:
media_A = alturas_A['Altura'].mean()
media_B = alturas_B['Altura'].mean()
media_C = alturas_C['Altura'].mean()

print('Média A: ',media_A)
print('Média B: ',media_B)
print('Média C: ',media_C)

Média A:  160.85
Média B:  158.075
Média C:  160.85

### Amplitude(AT)

In [43]:
amplitude_A = alturas_A['Altura'].max() - alturas_A['Altura'].min()
amplitude_B = alturas_B['Altura'].max() - alturas_B['Altura'].min()
amplitude_C = alturas_C['Altura'].max() - alturas_C['Altura'].min()

print('Amplitude A: ',amplitude_A)
print('Amplitude B: ',amplitude_B)
print('Amplitude C: ',amplitude_C)

Amplitude A:  23
Amplitude B:  23
Amplitude C:  40

### Moda

In [44]:
moda_A = alturas_A['Altura'].mode()
moda_B = alturas_B['Altura'].mode()
moda_C = alturas_C['Altura'].mode()

print('Moda A: ',moda_A[0])
print('Moda B: ',moda_B[0])
print('Moda C: ',moda_C[0])

Moda A:  160
Moda B:  160
Moda C:  160

### Desvio

In [45]:
alturas_A['Desvio_Absoluto'] = abs(media_A - alturas_A['Altura'])
dam_A = alturas_A['Desvio_Absoluto'].mean()

alturas_B['Desvio_Absoluto'] = abs(media_B - alturas_B['Altura'])
dam_B = alturas_B['Desvio_Absoluto'].mean()

alturas_C['Desvio_Absoluto'] = abs(media_C - alturas_C['Altura'])
dam_C = alturas_C['Desvio_Absoluto'].mean()

print('DAM A: ',dam_A)
print('DAM B: ',dam_B)
print('DAM C: ',dam_C)

DAM A:  4.5575
DAM B:  4.52125
DAM C:  5.732499999999997

### Relário

In [48]:
df_relatorio = pd.DataFrame({'Turma':['Turma_A','Turma_B','Turma_C'],'Média':[media_A,media_B,media_C],'Amplitude':[amplitude_A,amplitude_B,amplitude_C],'Moda':[moda_A[0],moda_B[0],moda_C[0]],'DAM':[dam_A,dam_B,dam_C]})


display(df_relatorio)

     Turma    Média  Amplitude  Moda      DAM
0  Turma_A  160.850         23   160  4.56000
1  Turma_B  158.075         23   160  4.52125
2  Turma_C  160.850         40   160  5.73250